/*
colors: #e7eaf6, #a2a8d3, #38598b, #113f67
*/
*{
  background-color: #e7eaf6;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}
/* Navbar*/
.navbar {
  background-color: transparent;
  margin-left: auto;
  font-weight: bold;
  margin-right: 10px;
}
.navbar a {
  font-size: x-large;
  color: #113f67;
  text-decoration: none;
  padding: 5px;
  background-color: transparent;
}
.navbar a:hover {
  color: #38598b;
}

/* Social Links*/
.fa {
  font-size: large;
  text-decoration: none;
  color: #113f67;
  padding: 8px;
}
.fa:hover {
  color: #38598b;
}

.socialBar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*Header*/
.header {
  display: flex;
}
.header img {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
  margin: 8px;
}

/*home content*/
.Home-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 70vh; /* Adjust this to your preference */
  font-weight: bold;
}

.introduction {
  text-align: center;
  margin-right: 20px; 
  margin-left: 50px;
}

.Socials {
  display: flex;
  margin-right: 30px;
}

.myPic-container {
  display: flex;
  align-items: center;
}

/*Picture*/
.myPic{
  transition: ease 1000ms;
  width: 300px;
  border-radius: 50%;
  border: #113f67 solid 5px;
  margin-top: 10px;
  margin-left: 50px;
}

.about-button {
  background-color: #113f67; 
  text-decoration: none;
  color: white; 
  border: none;
  padding: 10px 20px; 
  border-radius: 5px;
  font-size: 16px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 

  &:hover {
    background-color: #38598b; /* Change background color on hover */
  }
}

.skillslist {
  border-width: 2px;
  border-color: #113f67;
}

.projectListContainer{
  
}
.projectList li{
  border: #113f67 solid 2px;
}

/*about page*/

.about-page h1 {
  text-align: center;
}
.about-page p {
  text-align: center;
  font-size: large;
}