/*
colors: #e7eaf6, #a2a8d3, #38598b, #113f67
*/
*{
  background-color: #e7eaf6;
}
/* Navbar*/
.navbar {
  text-align: center;
  background-color: #a2a8d3;
}
.navbar a {
  font-size: medium;
  color: #113f67;
  text-decoration: none;
  padding: 5px;
  background-color: transparent;
}
.navbar a:hover {
  color: #38598b;
}

/* Social Links*/
.fa {
  text-decoration: none;
  color: #113f67;
  padding: 8px;
}
.fa:hover {
  color: #38598b;
}